.sn_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.sn_banner ul:first-child {
  width: 1000%;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
}
.sn_banner ul:first-child li {
  width: 10%;
  float: left;
}
.sn_banner ul:first-child li a {
  width: 100%;
  display: block;
}
.sn_banner ul:first-child li a img {
  width: 100%;
  display: block;
}
.sn_banner ul:last-child {
  position: absolute;
}
