.sn_banner{
  width: 100%;
  overflow: hidden;
  position: relative;
  ul{
    &:first-child{
      width: 100%*10;
      transform: translateX(-100%/10);
      -webkit-transform: translateX(-100%/10);
      li{
        width: 100% / 10;
        float: left;
        a{
          width: 100%;
          display: block;
          img{
            width: 100%;
            display: block;
          }
        }

      }
    }
    &:last-child{
      position: absolute;
      right: 20rem/@baseFont;
      bottom: 20rem/@baseFont;
      li{
        float: left;
        width: 12rem/@baseFont;
        height: 12rem/@baseFont;
        margin-left: 12rem/@baseFont;
        border-radius: 50%;
        background-color: #fff;
        &.now{
          background-color: @snColor;
        }
      }
    }
  }

}