@charset "UTF-8";
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
/*版心*/
.sn_container {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
  background-color: pink;
}
.sn_topBar {
  width: 100%;
  height: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fabc09;
  z-index: 999;
}
.sn_topBar a {
  width: 0.9rem;
  height: 0.9rem;
}
.sn_topBar a.icon_category {
  float: left;
  background: url("../images/icon_category.png") no-repeat center / 0.44rem 0.7rem;
}
.sn_topBar a.icon_cart {
  float: right;
  background: url("../images/icon_cart.png") no-repeat center / 0.63rem 0.68rem;
}
.sn_topBar form {
  width: 100%;
  padding: 0.15rem 0.9rem 0;
  position: relative;
}
.sn_topBar form input {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
  padding-left: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
}
.sn_topBar form .icon_search {
  position: absolute;
  left: 1rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../images/icon_search.png") no-repeat center / 0.27rem 0.28rem;
}
.sn_nav {
  width: 100%;
}
.sn_nav ul {
  width: 100%;
  text-align: center;
}
.sn_nav ul li {
  float: left;
  width: 20%;
  padding: 0.1rem;
  padding-bottom: 0;
}
.sn_nav ul li a {
  display: block;
  width: 100%;
}
.sn_nav ul li a img {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto;
}
.sn_nav ul li a p {
  padding: 0.05rem;
  font-size: 0.2rem;
  color: #666;
}
.sn_tabs {
  width: 100%;
  height: 1rem;
  padding-top: 0.1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}
.sn_tabs ul {
  width: 100%;
  text-align: center;
}
.sn_tabs ul li {
  float: left;
  width: 20%;
}
.sn_tabs ul li a {
  display: block;
  width: 100%;
}
.sn_tabs ul li a span {
  font-size: 0.4rem;
}
.sn_tabs ul li a p {
  font-size: 0.2rem;
  color: #666;
  padding: 0.05rem;
}
