@charset "UTF-8";

.adapterFun(@index) when(@index > 0){
  @media (min-width: extract(@adapterDeviceList,@index)){
    html{
      font-size: @baseFont / @psdWidth * extract(@adapterDeviceList,@index);
    }
  }

  .adapterFun(@index - 1);
}