.sn_nav {
  width: 100%;
}
.sn_nav ul {
  width: 100%;
  text-align: center;
}
.sn_nav ul li {
  float: left;
  width: 20%;
  padding: 10rem;
}
.sn_nav ul li a {
  display: block;
  width: 100%;
}
.sn_nav ul li a img {
  display: block;
  margin: 0 auto;
}
