.sn_nav{
  width: 100%;
  ul{
    width: 100%;
    text-align: center;
    li{
      float: left;
      width: 20%;
      padding: 10rem/@baseFont;
      padding-bottom: 0;
      a{
        display: block;
        width: 100%;
        img{
          display: block;
          width: 80rem/@baseFont;
          height: 80rem/@baseFont;
          margin: 0 auto;
        }
        p{
          padding: 5rem/@baseFont;
          font-size: 20rem/@baseFont;
          color: #666;
        }
      }
    }
  }
}