*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-size: 14px;
  font-family: "Microsoft YaHei",sans-serif;
  color: #333;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
input,textarea{
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left{
  float: left;
}
.f_right{
  float: right;
}
.clearFix::before,
.clearFix::after{
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10{
  margin-left:10px;
}
.m_r10{
  margin-right:10px;
}
.m_t10{
  margin-top:10px;
}
.m_b10{
  margin-bottom:10px;
}
/*版心*/
.sn_container{
  position: relative;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 90rem/@baseFont;
  padding-bottom: 100rem/@baseFont;
  background-color: pink;
}