.sn_tabs{
  width: 100%;
  height: 100rem/@baseFont;
  padding-top: 10rem/@baseFont;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  ul{
    width: 100%;
    text-align: center;
    li{
      float: left;
      width: 20%;
      a{
        display: block;
        width: 100%;
        span{
          font-size: 40rem/@baseFont;
        }
        p{
          font-size: 20rem/@baseFont;
          color: #666;
          padding: 5rem/@baseFont;
        }
      }
    }
  }
}