.sn_topBar{
  width: 100%;
  height: 90rem/@baseFont;
  position: fixed;
  top: 0;
  left: 0;
  background-color: @snColor;
  z-index: 999;
  a{
    width: 90rem/@baseFont;
    height: 90rem/@baseFont;
    &.icon_category{
      float: left;
      background: url("../images/icon_category.png") no-repeat center / 44rem/@baseFont 70rem/@baseFont;
    }
    &.icon_cart{
      float: right;
      background: url("../images/icon_cart.png") no-repeat center / 63rem/@baseFont 68rem/@baseFont;
    }
  }
  form{
    width: 100%;
    padding: 15rem/@baseFont 90rem/@baseFont 0 ;
    position: relative;
    input{
      width: 100%;
      height: 60rem/@baseFont;
      line-height: 60rem/@baseFont;
      font-size: 24rem/@baseFont;
      padding-left: 50rem/@baseFont;
      background: rgba(255,255,255,.3);
      border-radius: 5rem/@baseFont;
      -webkit-border-radius: 5rem/@baseFont;
    }
    .icon_search{
      position: absolute;
      left: 100rem/@baseFont;
      top: 30rem/@baseFont;
      width: 30rem/@baseFont;
      height: 30rem/@baseFont;
      background: url("../images/icon_search.png") no-repeat center/ 27rem/@baseFont 28rem/@baseFont;
    }
  }
}

