@charset "UTF-8";
//适配主流设备
@adapterDeviceList: 750px,720px,640px,540px,480px,424px,414px,400px,384px,375px,360px,320px;
//设计稿宽度
@psdWidth: 750px;
//基准值
@baseFont: 100px;
//主流设备的个数
@len: length(@adapterDeviceList);
//苏宁主色
@snColor:#fabc09;